<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.madhur.dashclock"
    android:versionCode="3"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/ic_dashclock" >
    

        <activity
            android:name=".dashanalytics.MainActivity"
            android:exported="true" android:logo="@drawable/ic_dashanalytics"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            
                
            </intent-filter>
        </activity>
         <activity
            android:name=".dashadsense.MainActivity"
            android:exported="true" android:logo="@drawable/ic_dashadsense"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
        </activity>
        <activity android:name=".dashanalytics.DashAnalyticsPreferenceActivity" android:icon="@drawable/ic_dashanalytics" android:logo="@drawable/ic_dashanalytics" >
        </activity>
        <activity android:name=".dashadsense.DashAdSensePreferenceActivity" android:logo="@drawable/ic_dashadsense"  android:icon="@drawable/ic_dashadsense" >
        </activity>

        <service
            android:name=".dashadsense.AdsenseDataService"
            android:exported="false" >
        </service>
         <service
            android:name=".dashanalytics.AnalyticsDataService"
            android:exported="false" >
        </service>
        <service
            android:name=".dashanalytics.DashAnalytics"
            android:label="DashAnalytics"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/extension_description" />
            <!-- A settings activity is optional -->
            <meta-data
                android:name="settingsActivity"
                android:value=".dashanalytics.MainActivity" />
        </service>
        
          <service
            android:name=".dashadsense.DashAdsense"
            android:label="DashAdsense"
            android:icon="@drawable/ic_dashadsense"
            android:logo="@drawable/ic_dashadsense"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/adsense_extension_description" />
            <!-- A settings activity is optional -->
            <meta-data
                android:name="settingsActivity"
                android:value=".dashadsense.MainActivity" />
        </service>
    </application>

</manifest>